<div class="post-container">
  <% @posts.reverse_each do |post| %>
  <div class="post">
    <% if user_signed_in? %>
      <p class="post-author"><%= post.user.username %></p>
    <% end %>
    <p class="post-content"><%= post.content %></p>
  </div>
  <% end %>
</div>