// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-container {
  width: 60%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.post-container .post {
  width: 100%;
  min-height: 100px;
  background-color: #92dbe59d;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 20px;
}

.post .author { 
  font-size: 24px;
}

.post .post-content {
  font-size: 18px;
}