// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-container, .new-post-container {
  width: 60%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.post-container .post {
  width: 100%;
  background-color: #92dbe59d;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 20px;
}

.post .author { 
  font-size: 24px;
}

.post .post-content {
  font-size: 18px;
}

.new-post-container {
  align-items: center;
  justify-content: center;
}

.new-post-container form {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #92dbe59d;
  padding: 20px;
  border-radius: 20px;
}

.new-post-container form input[type=text] {
  width: 600px;
  padding: 5px;
  margin-left: 10px;

  border-radius: 5px;
  border: 1px solid black;
}

.new-post-container input[type=submit] {
  width: 400px;
  height: 30px;

  background-color: #06D6A0;

  border: none;
  border-radius: 10px;

  font-size: 20px;
}

.input-group {
  margin: 10px 0;
  height: 50px;
  display: flex;
  align-items: center;
}
