.new-registration-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-registration-container {
  background-color: #92dbe59d;
  padding: 20px;
  border-radius: 20px;
}

.new-registration-screen .field {
  margin: 10px 0;
}

.new-registration-screen .textbox{
  width: 300px;
}

.new-registration-screen .actions {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.new-registration-screen .actions input {
  font-size: 20px;
  width: 100px;
  padding: 10px;

  background-color: #06D6A0;

  border: none;
  border-radius: 10px;
}